body {
  margin: 0;
  color: white;
  background: #000;
  overflow-x: hidden;
  width: 100%;
}

html,
body {
  touch-action: none;
}
/* * {
  outline: 1px solid red;
} */
.main-div {
  display: flex;
  justify-content: left;
}

.div-center {
  justify-content: center;
}

.div-main-nav {
  /* background-color: rgba(23, 23, 23, 0.2); */
  backdrop-filter: blur(5px);

  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  width: 100%;
  height: 60px;
  box-sizing: border-box;

  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;

  padding: 0 40px;
  text-align: center;
}

.div-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;

  height: 41px;
  width: auto;

  background-color: rgba(14, 14, 14, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 105px;
}

nav ul {
  display: flex;
  list-style: none;

  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;

  padding: 0px;
  margin: 0px;
}

nav li {
  font-weight: 400;
  font-size: small;
  color: white;
  /* background-color: rgba(23, 23, 23, 0.2); */
  /* backdrop-filter: blur(10px); */
  border-radius: 100px;

  padding: 7px 25px;
  margin-left: 5px;
  margin-right: 5px;
}

nav li:hover {
  cursor: pointer;
  background-color: rgba(136, 136, 136, 0.2);
}

.image {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.75)), url("/image.jpg");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-section {
  height: 85vh;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}

.left-div {
  display: flex;
  flex-direction: column;

  justify-content: left;
  align-items: left;
  text-align: left;

  margin-top: auto;
  margin-bottom: auto;
  margin-right: auto;

  max-width: 700px;
  padding: 0 8%;
}

.left-div span {
  color: rgb(222, 126, 0);
  font-size: large;
}

.right-div {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;

  margin-top: auto;
  margin-bottom: auto;

  padding: 0 8%;
}

.cta-button button {
  width: 170px;

  background: transparent;
  border: 1px white solid;
  border-radius: 0px;

  margin-top: 20px;
  margin-right: 10px;
}

.section1-div {
  display: flex;

  justify-content: center;
  align-items: center;
  /* border-bottom: 1px white solid; */
  gap: 140px;
  height: 78px;
  padding: 10px;

  background-color: rgba(13, 13, 13, 0.194);
  backdrop-filter: blur(3px);
}

.section1-div-div {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

.span1 {
  font-size: xx-large;
  font-weight: 700;
}

.span2 {
  font-size: x-small;
  font-weight: 400;
}

.logo {
  width: 60px;
  height: 55px;

  margin-right: auto;
  padding-left: 8%;
  margin-top: 5px;
}

.emblen {
  width: 60px;
  height: 55px;

  margin-left: auto;
  padding-right: 8%;
  margin-top: 5px;

  filter: invert(72%) sepia(87%) saturate(452%) hue-rotate(352deg)
    brightness(104%) contrast(105%);
}

.mission-card-main {
  display: flex;
  flex-direction: row;
  justify-content: center;

  gap: 5%;
  margin-left: auto;
  margin-right: auto;
}

.mission-card {
  width: 25%;
  height: 375px;

  border: 1px white solid;
  border-radius: 10px;
  /* padding-left: 15px; */

  background-color: rgba(26, 26, 26, 0.1);
  backdrop-filter: blur(10px);
}
.mission-card img {
  display: flex;
  justify-content: center;
  color: rgba(26, 26, 26, 0.9);
  align-items: start;
  width: 350px;
  height: 200px;
  border-radius: 10px;
}
.icons {
  width: 30px;
  height: 30px;

  background: transparent;

  padding: 5px 0px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  gap: 0px;
  position: sticky;
}

.icons:hover {
  /* color: rgb(222, 126, 0); */

  /* width: 45px;
  height: 45px; */

  transition: 0.3s ease-out;
  position: sticky;
}

.face:hover {
  color: rgb(0, 102, 255);
  transition: 0.3s ease-out;
}
.insta:hover {
  color: #b52052;
  transition: 0.3s ease-out;
}
.yt:hover {
  color: rgb(255, 0, 0);
  transition: 0.3s ease-out;
}
.twit:hover {
  color: rgb(243, 254, 219);
  transition: 0.3s ease-out;
}

.section2-bg {
  background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.9),
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.9)
    ),
    url("/image2.jpg");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
